{% extends 'sanDiegoRandos/base.html' %}

{% block content %}
  <div class="desc-content container">
    <h1 class="display-1 text-justify"> About Randonneuring </h1>
    <p class="lead">
      Randonneuring is a form of long-distance, self-supported, endurance cycling.
      This style of riding is non-competitive in nature, and self-sufficiency is paramount.
      When riders participate in randonneuring events, they are part of a long tradition that goes back to the beginnings of the sport of cycling in France and Italy.
      Friendly camaraderie, not competition, is the hallmark of randonneuring.
    </p>
    </br> </br>
    <h1 class="display-1"> Stay in Touch</h1>
    <p>
      To keep current on what's happening with San Diego Randonneurs, it's important to join the Google Group, <a href="https://groups.google.com/forum/#!forum/sdrando"> <strong> sdrando </strong> </a>.
      There are occasional group discussions, but also notices sent out about upcoming events.
      Joining the group is the best way to ensure that you get the latest information,
      and are able to ask other members questions about anything related to long-distance riding in San Diego.
    </p>

  </div>
{% endblock %}
