/* line 5, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  background-color: #729f98;
}

/* line 8, ../sass/style.scss */
.header-image {
  height: auto;
  width: 100%;
  position: relative;
}

/* line 14, ../sass/style.scss */
.banner-text {
  width: 100%;
  padding: 1em 0 0 1em;
}

/* line 20, ../sass/style.scss */
.header {
  display: inline;
}

/* line 26, ../sass/style.scss */
h1 span a, h1 span a:active, h1 span a:hover, h1 span a:visited {
  text-decoration: none;
  color: #f0eceb;
  font: bold 2.1em/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

/* New navbar styling, utilizing bootstrap3*/
/* line 39, ../sass/style.scss */
.navbar {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  font-size: 1.5em;
}
/* line 43, ../sass/style.scss */
.navbar .navbar-brand {
  color: #729f98;
  font-size: 1.5em;
  text-shadow: none;
}
/* line 49, ../sass/style.scss */
.navbar .nav-pills .active a {
  background-color: #729f98;
}
/* line 52, ../sass/style.scss */
.navbar .nav-pills .active a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* In home.html. Described on the main SDRANDOS webpage*/
/* line 60, ../sass/style.scss */
.desc-content h1 {
  font-size: 2.0em;
}
/* line 63, ../sass/style.scss */
.desc-content p {
  font-size: 1.5em;
}
/* line 66, ../sass/style.scss */
.desc-content a {
  text-decoration: none;
  color: #f0eceb;
}

/* permanents.html*/
/* line 74, ../sass/style.scss */
.permanent-info h1 {
  font-size: 2.0em;
}
/* line 77, ../sass/style.scss */
.permanent-info p {
  font-size: 1.5em;
}

/* line 82, ../sass/style.scss */
table {
  font-size: 1.2em;
}
