@import "compass/reset";
@import "compass/css3";

body {
    background-color: #729f98;
    font-family: 'Roboto', sans-serif;
}

.header-image {
  height: auto;
  width: 100%;
  position: relative;
  padding-bottom: 2em;
}

/* New navbar styling, utilizing bootstrap3*/
$a-tags: 'a, a:hover, a:visited';
.navbar {
  background: rgba(0, 0, 0, 0.7);
  border:none;
  font-size: 1.5em;
  .navbar-brand {
    color: #729f98;
    font-size: 1.5em;
    text-shadow:none;
  }
  .nav-pills {
    .active #{$a-tags}{
      background-color: #729f98;
    }
    .active a:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}
/* I want to add a spacer between all content.
   So Im adding 2em of padding between all .container elements
*/
.container {
  padding-bottom: 2em;
}
/* In home.html. Described on the main SDRANDOS webpage*/
.desc-content {
  padding-bottom: 2em;
  h1{
    padding-bottom: .25em;
  }
  p{
    font-size: 1.5em;
  }
  a{
    text-decoration: none;
    color: #f0eceb;
  }
}

/* permanents.html*/
.permanent-info {
  h1 {
    padding-bottom: .25em;
  }
  p {
    font-size: 1.5em;
  }
}

table {
  font-size: 1.2em;
}
