@import "compass/reset";
@import "compass/css3";

body {
    background-color: #729f98;
}

.header-image {
  height: auto;
  width: 100%;
  position: relative;
}

.banner-text {
  width: 100%;
  padding: 1em 0 0 1em;
}


.header {
  display: inline;
}
$a-tags: 'a, a:active, a:hover, a:visited';
h1 {
  span {
   #{$a-tags}{
     text-decoration: none;
     color: #f0eceb;
     font: bold 2.1em/45px Helvetica, Sans-Serif;
     letter-spacing: -1px;
     background: rgb(0, 0, 0);
     background: rgba(0, 0, 0, 0.7);
     padding: 10px;
   }
 }
}

/* New navbar styling, utilizing bootstrap3*/
.navbar {
  background: rgba(0, 0, 0, 0.7);
  border:none;
  font-size: 1.5em;
  .navbar-brand {
    color: #729f98;
    font-size: 1.5em;
    text-shadow:none;
  }
  .nav-pills {
    .active a{
      background-color: #729f98;
    }
    .active a:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

/* In home.html. Described on the main SDRANDOS webpage*/
.desc-content {
  h1 {
    font-size: 2.0em;
  }
  p{
    font-size: 1.5em;
  }
  a{
    text-decoration: none;
    color: #f0eceb;
  }
}

/* permanents.html*/
.permanent-info {
  h1{
    font-size: 2.0em;
  }
  p {
    font-size: 1.5em;
  }
}

table {
  font-size: 1.2em;
}
